.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 2px solid black;
  min-height: 100%;
  width: 30%;
  gap: 1rem;
}
.column > h1 {
  font-size: 2rem;
}

.divider {
  border: 1px solid black;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
  background-color: beige;
}
