.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 4rem;
}

.container {
  display: flex;
  border: 2px solid black;
  width: 75%;
  min-height: 75vh;
  padding: 1rem;
  justify-content: space-evenly;
}


